.row {
    width: 100% !important;
    background-color: #1f2022;
    color: white;
    margin: 0px 0px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.paginate_button {
    padding-left: 5px;
}

.form-control {
    margin: 15px;
}

.col-sm-12 {
    padding: 0px !important;
}

.dataTables_wrapper {
    margin-top: -30px !important;
}