
a {
    color: #217ecf;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

#form_login {
    padding: 15px 30px;
    width:40%;
    background-color:white !important;
    margin:auto !important;
    border-radius:8% !important;
    
}