#poza_profil {
    border-radius: 50%;
}

.nav-item {
    font-size: 1.3em;
}

body {
    background-image: url("https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700685391.jpg");
    background-repeat: repeat-y;
    background-position: 0px -150px;
}

.navbar {
    margin-bottom: 30px;
}

.container {
    margin-left: 50px !important;
    margin-right: 50px !important;
    float: left;
    background-color: rgb(53, 58, 53) !important;
    color: white !important;
    border-radius: 25px;
    width: 500px !important;
    max-width: 500px !important;
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card {
    width: 300px !important;
    margin: 13px 50px 50px 50px;
    display: inline-block !important;
    color: white;
    background-color: rgb(20, 19, 19) !important;
    -webkit-box-shadow: 0px 0px 22px 8px rgb(230, 40, 40);
    -moz-box-shadow: 0px 0px 22px 8px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 22px 8px rgba(255, 0, 0, 1);
}

.card-body,
.card-title {
    color: white !important;
    font-size: 20px;
}

.card-title {
    text-align: center;
}

.card-footer {
    width: 100% !important;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 !important;
    position: relative;
    height: 50px !important;
}

.card-footer-item {
    height: 100% !important;
    position: relative;
    width: 20% !important;
    vertical-align: middle;
}

button.card-footer-item {
    background-color: rgb(6, 108, 202) !important;
    border: 0px;
}

button.card-footer-item:focus {
    outline: none !important;
    outline-width: 0px;
    outline-color: transparent;
    box-shadow: none;
    border: 0px;
}

.card-img-top {
    position: relative;
    width: 97% !important;
    height: 300px;
    margin: 5px 5px 5px 5px;
}

.t_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}